.navbar {
    display: block;
    width: 20%;
    height: auto;
    position: fixed;
    padding-top: 30vh;
    text-align: left 
    
  }

  .name-logo {
      font-size: 30px;
      margin-left:1vw; 
      text-align: center
  }

  .page-link {
      font-size: 25px;
      text-decoration: none;
      color: black;
      display: block;
      text-align: center
      
  }



  

@media screen and (max-width: 800px) {
    .navbar {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      padding-top: 0vh;
      text-align: center;  
      
    }

    .name-logo {
        margin-left:1vw; 
    }

    .page-link {
        font-size: 25px;
        text-decoration: none;
        color: black;
        display: inline-block;
        margin-left:2vw;
        
    }
    
  }


@media screen and (min-width: 1300px) {
    .navbar {
      display: block;
      width: 20%;
      height: auto;
      position: fixed;
      padding-top: 30vh;
      text-align: left 
      
    }

    .name-logo {
        margin-left:1vw; 
        font-size: 30px
    }

    .page-link {
        font-size: 25px;
        text-decoration: none;
        color: black;
        display: block;
        margin-left:2vw;
        
    }
    
  }